{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Sarbacane plugin for Craft CMS 3.x
 *
 * Sarbacane Settings.twig
 *
 * @author    Sprinute
 * @copyright Copyright (c) 2020 Sprinute
 * @link      crochetcedric@gmail.com
 * @package   Sarbacane
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("sprinute1234\\sarbacane\\assetbundles\\sarbacane\\SarbacaneAsset") %}

{{ forms.textField({
    label: 'Api Key',
    instructions: 'Insert your Api Key here'|t,
    id: 'apiKey',
    name: 'apiKey',
    value: settings.apiKey,
    required: true,
    errors: settings.getErrors('apiKey')
}) }}

{{  forms.textField({
    label: 'Compte ID',
    instructions: 'Insert your compte Id here',
    id: 'compteId',
    name: 'compteId',
    value: settings.compteId,
    required: true,
    errors: settings.getErrors('compteId')
}) }}
<hr/>
{% if settings.apiKey and settings.compteId %}
    {{  forms.selectField({
        label: 'Id liste',
        instructions: 'Select your liste contact',
        id: 'listId',
        name: 'listId',
        options: listeSarbacane,
        value: settings.listId,
        required: true,
        errors: settings.getErrors('listId')
    }) }}

    {{ forms.selectField({
        label: "Section for sync with sarbacane",
        instructions: "Choose the section for sync with sarbacane",
        id: "section",
        name: "section",
        options: allSections,
        value: settings.section,
        errors: settings.getErrors('section')
    }) }}
{% else %}
    <p>Enter api key and compte id, save and after chose liste and entry for sync</p>
{% endif %}